*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #fff;
}

html, body, #app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--bg-color);
}
